<!DOCTYPE html><html>

<head>
    <title>News Web Comics</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <script>
    </script>
</head>
<body>

<div id="content">
{% block body %}

<h1>{{ comic['header'] }}</h1>
<img class="comic_PA" src="{{ comic['src'] }}">

{% endblock body %}
</div>

</body></html>

