<!DOCTYPE html><html>

<head>
    <title>News Web Comics</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <script>
    </script>
</head>
<body>

<div id="content">
{% block body %}


{%- for comic in comics -%}
    <h1>
        <a href="{{ comic['comic_url'] }}">{{ comic['comic_name'] }}:</a>
        {{ comic['comic_title'] }}
    </h1>
    {% if comic['comic_class'] %}
        <img class="{{ comic['comic_class'] }}" src="{{ comic['image_src'] }}">
    {%- else -%}
        <img src="{{ comic['image_src'] }}">
    {%- endif -%}
    <p>{{ comic['image_alt'] }}</p>
{%- endfor -%}

{% endblock body %}
</div>

</body></html>

